.banner-ad {
  width: 100%;
  height: 180px;

  border: 2px dashed #999;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;

  font-size: 30px;
  font-weight: bold;
}

.ad-label {
  font-size: 12px;
  letter-spacing: 2px;
  opacity: .8;
}

.ad-content h2 {
  margin: 12px 0;
}

.ad-content p {
  margin-bottom: 18px;
}

.ad-content button {
  background: white;
  color: #0f9d58;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
